#######
# IDE #
#######

.settings
.cproject
.project

###########
# Advisor #
###########

adv-v*

#########
# Linux #
#########

nbody.x
*.o
*.s

###########
# Windows #
###########

nbody.exe
*.obj
*.asm
*.pdb
*.ilk

###########
# General #
###########

*.mod
*.optrpt
